* {
    margin: 0
}

#website-container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checker-board
{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: #323232;
}

.tile
{
    box-sizing: border-box;
    border: solid;
    border-color: #323232;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece
{
    height: 85%;
    width: 85%;
    border-radius: 100%;
    border: dotted;
    border-width: 0.6vmin;

    color: white;
    border-color: #323232;
}
