* {
    margin: 0
}

#website-container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checker-board
{

    /* the board it's self shouldn't ever be seen in a normal */
    /* game, but when increasing the size of the board sometimes */
    /* slivers of it cas be seen between the borders of tiles */

    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: #323232;
}

.tile
{
    box-sizing: border-box;
    border: solid;
    border-color: #323232;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* would use box-sizing: border-box, but it makes the number of */ 
/* border dots inconsistent */
.piece
{

    height: 83%;
    width: 83%;

    border-radius: 100%;
    border: dotted;
    border-width: 0.8vmin;


    color: white;
    border-color: #323232;
}
